MainAPIServer/QPS_Web1/Service References/SoapServer1/processing1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateDir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateDirResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateXmlResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadInstaPhotos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DownloadInstaPhotosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadInstaPhotosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImageGenerate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImagePart" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PxFormat" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImageGenerateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImageGenerateResult" type="tns:NewImagePart" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NewImagePart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ImagePartInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="newImage" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="XmlUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_Value" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ValueArtir" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XmlUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateDirSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDir" />
  </wsdl:message>
  <wsdl:message name="CreateDirSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDirResponse" />
  </wsdl:message>
  <wsdl:message name="CreateXmlSoapIn">
    <wsdl:part name="parameters" element="tns:CreateXml" />
  </wsdl:message>
  <wsdl:message name="CreateXmlSoapOut">
    <wsdl:part name="parameters" element="tns:CreateXmlResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadInstaPhotosSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadInstaPhotos" />
  </wsdl:message>
  <wsdl:message name="DownloadInstaPhotosSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadInstaPhotosResponse" />
  </wsdl:message>
  <wsdl:message name="ImageGenerateSoapIn">
    <wsdl:part name="parameters" element="tns:ImageGenerate" />
  </wsdl:message>
  <wsdl:message name="ImageGenerateSoapOut">
    <wsdl:part name="parameters" element="tns:ImageGenerateResponse" />
  </wsdl:message>
  <wsdl:message name="XmlUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:XmlUpdate" />
  </wsdl:message>
  <wsdl:message name="XmlUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:XmlUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="ProcessingSoap">
    <wsdl:operation name="CreateDir">
      <wsdl:input message="tns:CreateDirSoapIn" />
      <wsdl:output message="tns:CreateDirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateXml">
      <wsdl:input message="tns:CreateXmlSoapIn" />
      <wsdl:output message="tns:CreateXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadInstaPhotos">
      <wsdl:input message="tns:DownloadInstaPhotosSoapIn" />
      <wsdl:output message="tns:DownloadInstaPhotosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImageGenerate">
      <wsdl:input message="tns:ImageGenerateSoapIn" />
      <wsdl:output message="tns:ImageGenerateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlUpdate">
      <wsdl:input message="tns:XmlUpdateSoapIn" />
      <wsdl:output message="tns:XmlUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessingSoap" type="tns:ProcessingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDir">
      <soap:operation soapAction="http://tempuri.org/CreateDir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateXml">
      <soap:operation soapAction="http://tempuri.org/CreateXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadInstaPhotos">
      <soap:operation soapAction="http://tempuri.org/DownloadInstaPhotos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageGenerate">
      <soap:operation soapAction="http://tempuri.org/ImageGenerate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlUpdate">
      <soap:operation soapAction="http://tempuri.org/XmlUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProcessingSoap12" type="tns:ProcessingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDir">
      <soap12:operation soapAction="http://tempuri.org/CreateDir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateXml">
      <soap12:operation soapAction="http://tempuri.org/CreateXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadInstaPhotos">
      <soap12:operation soapAction="http://tempuri.org/DownloadInstaPhotos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageGenerate">
      <soap12:operation soapAction="http://tempuri.org/ImageGenerate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlUpdate">
      <soap12:operation soapAction="http://tempuri.org/XmlUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Processing">
    <wsdl:port name="ProcessingSoap" binding="tns:ProcessingSoap">
      <soap:address location="http://qpp1.azurewebsites.net/processing.asmx" />
    </wsdl:port>
    <wsdl:port name="ProcessingSoap12" binding="tns:ProcessingSoap12">
      <soap12:address location="http://qpp1.azurewebsites.net/processing.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>